#root {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  margin: auto;
  }
  img {
      height: 3rem;
      width: 6rem;
      border: none;
  }
  .header {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  button {
  align-self: center;
  justify-self: center;
  text-align: center;
  }
  .display {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
  }

  .teamBody {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    margin: auto;
  }
  .broadcastBar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }